body {
  background-color: lightblue;
}

#flower-center {
    position: absolute;
  left: 200px;
  top: 300px;
}
#center-image {
    position: absolute;
  left: 200px;
  top: 300px;
}

#flower-center-canvas {
    position: absolute;
  left: -190;
  top: -40;
  height: 308;
  width: 608;

}

.petal{
  position: absolute;
height: 100;
width: 50;
}


